$skew-number: 180px;
$min-height: 800px;
$min-height-breakpoint-1: $min-height / 4 * 3;
$skew-number-breakpoint-1: $skew-number / 4 * 3;


.oblique {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.oblique__title {
  position: relative;
  margin: 0;
  margin-bottom: 4px;
  min-height: 100px;
  padding-left: 40px;
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;


  &::before {
    content: '';
    position: absolute;
    top: 14px;
    left: -60px;
    width: 84px;
    height: 84px;
    border-radius: 50%;
  }
}

.oblique__desc {
  margin: 0;
  margin-bottom: 36px;
}

.oblique__btn {
  color: inherit;
  margin-bottom: 36px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 13px 33px 11px;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  transition: background-color .4s;

  &::after {
    content: "";
    height: 155px;
    left: -75px;
    opacity: .05;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }

  &:hover::after {
    left: 120%;
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  span {
    margin-left: 10px;
  }
}



.oblique {
  min-height: $min-height;
  position: relative;
  display: flex;
  align-items: center;
}

.oblique--dark {
  color: #fff;
  background: #001C55;

  .oblique__btn:hover {
    background-color: rgba(255, 255, 255, .05);
  }

  .oblique__btn::after {
    background-color: #fff;
  }
}

.oblique--light {
  color: #000;
  background: #FAFAFA;

  .oblique__btn:hover {
    background-color: rgba(0, 0, 0, .05);
  }

  .oblique__btn::after {
    background-color: #000;
  }
}


.oblique__image-outer {
  position: absolute;
  // min-height: $min-height;
  overflow: hidden;
  width: 100%;
  top: -$skew-number;
  bottom: -$skew-number;
  transform: skew(0deg, -10deg);
}

.oblique__image-inner {
  position: absolute;
  top: -$skew-number;
  bottom: 0;
  width: 100%;
  transform: skew(0deg, 10deg);
  background-size: cover;
  background-position: center;
}

.oblique__content {
  position: relative;
  z-index: 1;
  padding-left: 60px;
  max-width: 800px;
  margin-top: -$min-height / 4;
}



.oblique--1 {
  min-height: $min-height + $skew-number;

  .oblique__image-inner {
    top: $skew-number;
    background-image: url('../img/bg-1.jpg');
  }

  .oblique__content {
    margin-left: auto;
  }

  .oblique__title::before {
    background: #868DA4 url('../img/career.svg') center no-repeat;
    background-size: 55px 55px;
  }

  .oblique__btn {
    border: 1px solid #fff;
  }
}

.oblique--2 {

  .oblique__image-inner {
    background-image: url('../img/bg-2.jpg');
  }

  .oblique__title {
    max-width: 480px;
  }

  .oblique__title::before {
    background: #009FFF url('../img/resume.svg') center no-repeat;
    background-size: 50px 50px;
  }

  .oblique__btn {
    color: #1F9EFF;
    border: 1px solid #1F9EFF;
  }
}

.oblique--3 {
  min-height: $min-height - $skew-number;
  text-align: center;

  .oblique__image-inner {
    bottom: $skew-number;
    background-image: url('../img/bg-3.jpg');
  }

  .oblique__content {
    margin: 0 auto;
    padding: 0;
  }

  .oblique__title {
    min-height: 0;
    padding-left: 0;
    padding-top: 100px;


    &::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #009FFF url('../img/skills.svg') center no-repeat;
      background-size: 57px 51px;
    }
  }

  .oblique__btn {
    color: #1F9EFF;
    border: 1px solid #1F9EFF;
  }
}


@media (max-width: 1200px) {
  .oblique {
    min-height: $min-height-breakpoint-1;
  }

  .oblique__image-outer {
    top: -$skew-number-breakpoint-1;
    bottom: -$skew-number-breakpoint-1;
  }

  .oblique__image-inner {
    top: -$skew-number-breakpoint-1;
  }

  .oblique__content {
    margin-top: -$min-height-breakpoint-1 / 4;
  }

  .oblique--1 {
    min-height: $min-height-breakpoint-1 + $skew-number-breakpoint-1;

    .oblique__image-inner {
      top: $skew-number-breakpoint-1;
    }
  }

  .oblique--3 {
    min-height: $min-height-breakpoint-1 - $skew-number-breakpoint-1;
    text-align: center;

    .oblique__image-inner {
      bottom: $skew-number-breakpoint-1;
    }
  }

  .oblique__content {
    padding-left: 30px;
  }

  .oblique .oblique__title {
    font-size: 32px;
    padding-left: 30px;

    &::before {
      left: -38px;
      width: 60px;
      height: 60px;
      background-size: 36px auto;
    }
  }

  .oblique--3 .oblique__title {
    padding-left: 0;
    padding-top: 70px;

    &::before {
      left: 50%;
    }
  }

  .oblique__desc {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .oblique__content {
    padding-left: 0;
  }

  .oblique .oblique__title {
    font-size: 24px;
    padding-left: 54px;

    &::before {
      left: 0px;
      width: 44px;
      height: 44px;
      background-size: 28px auto;
    }
  }

  .oblique--3 .oblique__title {
    padding-left: 0;
    padding-top: 54px;

    &::before {
      left: 50%;
    }
  }
}
